# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# Document
/doc/coverage
/doc/plato
/doc/esdoc

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

testdb.js
/.env

/testdata/*
!user.init.json

log/*
docs
report
